<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mean Price per Neighbourhood Chart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Mean Price per Neighbourhood Chart</h1>
    <object type="image/svg+xml" data="data:image/svg+xml;charset=UTF-8;base64,{{ chart_data }}"></object>
  </div>
</body>
</html>
