<!doctype html>
<html lang="en">
  <head>
    <title>My Plots</title>
  </head>
  <body>
    <h1>My Plots</h1>
    <div>
      <img src="data:image/svg+xml;base64,{{ plot_url1 }}"  alt=""/>
    </div>
    <div>
      <img src="data:image/svg+xml;base64,{{ plot_url2 }}"  alt=""/>
    </div>
    <div>
      <img src="data:image/svg+xml;base64,{{ plot_url3 }}"  alt=""/>
    </div>
    <div>
      <img src="data:image/svg+xml;base64,{{ plot_url4 }}"  alt=""/>
    </div>
    <div>
      <img src="data:image/svg+xml;base64,{{ plot_url5 }}"  alt=""/>
    </div>
  </body>
</html>
