<!DOCTYPE html>
<html lang="en">
<head>
    <title>Listings</title>
</head>
<body>
    <table>
    <thead>
        <tr>
            <th><a href="?sort_by=id&amp;sort_dir={{ sort_dir }}">ID</a></th>
            <th><a href="?sort_by=name&amp;sort_dir={{ sort_dir }}">Name</a></th>
            <th><a href="?sort_by=price&amp;sort_dir={{ sort_dir }}">Price</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <form action="/" method="get">
            <tr>
                <td></td>
                <td><input type="text" name="search_term" value="{{ search_term }}"></td>
                <td></td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </form>
        {% for listing in listings %}
        <tr>
            <td>{{ listing.id }}</td>
            <td>{{ listing.name }}</td>
            <td>{{ listing.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>